body {
    direction: rtl;
    padding: 10px;
    transition-duration: 0.3s;
    background: #f6f6f6;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(85 85 85 / 35%);
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

hr {
    border: none;
    height: 1px;
    background: transparent;
    margin: 0 auto;
    width: 75%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #00e6be, #321ebe, #af00d7, #ff1e5f, #ffb419);
}
body.dark {
    background:#000;
    color: #fff;
    text-shadow: 0 0 15px;
    transition-duration: 0.3s;
}

body.light{
    background: #f6f6f6;
}

body.dark hr {
    background: #ff9e0d;
    box-shadow: 0 0 13px #fbff00;
}

body.light hr {
    background: #0dff00;
    box-shadow: 0 0 3px #0dff00;
}

body.light .son-moon {
    color: #ffa318;
    transition-duration: 1s;
}

body.dark .son-moon {
    color: #fff5e7;
}

body.light .son-moon::before {
    content: "\f185";
}

body.dark .son-moon::before {
    content: "\f186";
}

body.light .son-moon-p::before {
    content: "حالت روشن";
}

body.dark .son-moon-p::before {
    content: "حالت تاریک";
}

.text-ra-1 {
    display: inline-table;
    margin: 10px;
}

.g-r-1 {
    background: linear-gradient(90deg, #00e6be 0%, #321ebe, #af00d7, #ff1e5f, #ffb419);
}

.pio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 20vh;
}
